parameters:
    level: 5
    paths:
        - ./
    fileExtensions:
        - php
        - phtml
    excludePaths:
        analyseAndScan:
            - ./etc/*
            - ./Test/*
            - ./test-reports/*