<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magezil" translate="label" sortOrder="0">
            <label>Magezil</label>
        </tab>

        <section id="magezil_site_restrict" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label">
            <label>Site Restrict</label>
            <tab>magezil</tab>
            <resource>Magezil_SiteRestrict::general</resource>

            <group id="general" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="is_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                    <comment>Enable/Disable module site restriction functionality.</comment>
                </field>

                <field id="available_paths" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Available Paths</label>
                    <source_model>Magezil\SiteRestrict\Model\Config\Source\AvailablesPath</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Select the paths that are available to non-logged-in customers.</comment>
                    <depends>
                        <field id="magezil_site_restrict/general/is_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>